
body {
    background-color: azure;
}

h3 {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    color: antiquewhite;
    background-color: blue;
    padding: 10px 0;
}
h5 {
    margin-top: 25px;
    font-size: 20px;
    color: antiquewhite;
    background-color: blue;
}
.form{
    padding: 30px;
    width: 350px;
    border: 3px solid rgb(74, 110, 124);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 6px #333333;
}

#txtTodo {
    font-size: 20px;
    font-family: 'Gill Sans';
    padding: 5px 10px;

}

#btnAdd{
    font-weight: bold;
    color: aquamarine;
    background-color: blue;
    font-size: 20px;
    font-family: 'Gill Sans';
    padding: 5px 10px;
    padding: 5px 30px;
}
.list{
    color: aquamarine;
    background-color: blue;
    font-family: 'Gill Sans';
    width: 450px;
    box-shadow: 0 0 6px #333333;
    border-radius: 6px;
}

.list li{
    list-style: none;
    font-size: 18px;
    font-family: sans-serif;

}

.list li:hover{
    box-shadow: 0 0 6px #66eeff;
    padding: 10px 10px;
    border-left-width: 7px;
    padding-left: 7px;
    cursor: pointer;
    
}